define service {
  use                     og-generic-service
  host_name               05-docker
  service_description     ssh
  check_command           check_ssh!-P 2.0
}

define service {
  use                     og-generic-service
  host_name               01-docker
  service_description     http://www.1id.fa26a.mil
  check_command           check_http!-H www.1id.fa26a.mil -4 -s "# Ogrydziak Networks #"
}

define service {
  use                     og-generic-service
  host_name               01-docker
  service_description     http://rocket.1id.fa26a.mil
  check_command           check_http!-H rocket.1id.fa26a.mil -4 -s '<title>NoRobotsAllowed</title><meta name="application-name" content="NoRobotsAllowed">'
}

define service {
  use                     og-generic-service
  host_name               01-docker
  service_description     http://daloradius.1id.fa26a.mil
  check_command           check_http!-H daloradius.1id.fa26a.mil -4
}

define service {
  use                     og-generic-service
  host_name               01-docker
  service_description     http://kibana.1id.fa26a.mil
  check_command           check_http!-H kibana.1id.fa26a.mil -4
}

define service {
  use                     og-generic-service
  host_name               01-docker
  service_description     http://esxi.1id.fa26a.mil
  check_command           check_https!-H esxi.1id.fa26a.mil -4
}

#define service {
#    use                     og-generic-service
#    host_name               docker_host
#    service_description     https://www.ogrydziak.net
#    check_command           check_https!-H www.ogrydziak.net -4 -s "<title>OG Networks</title>"
#}

define service {
  use                     og-generic-service
  host_name               01-docker
  service_description     ns1
  check_command           check_dns!-H 1id.fa26a.mil -s 10.100.111.140 -q a -a 10.100.111.140
}

define service {
  use                     og-generic-service
  host_name               02-docker
  service_description     ns2
  check_command           check_dns!-H 1id.fa26a.mil -s 10.100.111.141 -q a -a 10.100.111.140
}

define service {
  use                     og-generic-service
  host_name               01-docker
  service_description     ntp-a
  check_command           check_ntp
}

define service {
  use                     og-generic-service
  host_name               02-docker
  service_description     ntp-b
  check_command           check_ntp
}